* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  /* Body Styling */
  body {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(javier-matheu-9dwZY2kcKdA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    /* background-position: center; */
  }
  /* List Styling */
  ul {
    list-style-type: none;
    float: right;
  }
  ul li{
    display: inline-block;
    margin-top: 25px;
  }
  /* Link Styling */
  ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
  }
  /* Link Hover Effect */
  ul li a:hover{
    background-color: white;
    color: black;
  }
  ul li.active a{
    background-color: white;
    color: black;
  }
  logo-image img {
    float: left;
    width: 150px;
    height: auto;
  }
  .slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slogan h1{
    color: white;
    font-size: 70px;
  }
  .main{
    max-width: 1200px;
    margin: auto;
  }
  
  .new-link {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .new-page {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.5s, ease-in-out;
  }
  .new-page:hover {
    background-color: white;
    color: black; 
  }
  